:root {
  --dark-night-sky-blue: #131862;
  --light-night-sky-blue: #546bab;
  --pale-night-sky-grey: #87889c;
  
  --bright-day-sun-yellow: #ffdb00; 
  --bright-day-sky-blue: #a9f1f6;
  --bright-day-ground-yellow: #fff6cf;
}

body {
  background-color: var(--bright-day-sky-blue);
}

header {
  color: var(--bright-day-sun-yellow)
}


main {
  background-color: white;
}

#camera {
  display: none;
}

#camera-eye {
  display: none;
}

#camera-sun-div {
  width: 7.5%;
  justify-content: center;
  align-items: center;
  background-color: var(--bright-day-sun-yellow);
  border-radius: 50%;

  position: relative;
}

.ray {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: var(--bright-day-sun-yellow);
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
}

.ray:nth-child(1) {
  transform: rotate(0deg);
}

.ray:nth-child(2) {
  transform: rotate(60deg);
}

.ray:nth-child(3) {
  transform: rotate(120deg);
}

.ray:nth-child(4) {
  transform: rotate(180deg);
}

.ray:nth-child(5) {
  transform: rotate(240deg);
}

.ray:nth-child(6) {
  transform: rotate(300deg);
}

