body {
  display: flex;
  flex-direction: column;
}
main {
  width: 200px;
  height: 433.33px;
  display: flex;
  flex-direction: column;

  border: 2px solid black;
  border-radius: 10px;
}

footer {
  display: flex;
  flex-direction: column;
}