* {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

:root {
  --pure-white: #ffffff;
  --pure-black: #000000;
  --light-rusty-copper:  	#7fe7ce;
  --dark-rusty-copper: #71d4cc;
  --metallic-black: #131618;
  --metallic-dark-grey: #191f22;
  --metallic-silver: #aaa9ad;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  margin: 0;

  background-color: var(--metallic-black);

  overflow: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 200px;
}

footer {
  background-color: var(--pure-white);
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0 0 20px var(--pure-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  position: fixed;
  bottom: 2%;
  right: 5%;
  left: 5%;
}

footer > p > span {
  color: var(--dark-rusty-copper);
  font-family: Silkscreen, sans-serif;
  font-size: 1.3rem;
}

footer > p {
  margin: 0;
  position: relative;
  right: 70px;
}

/* reference table */

nav {
  position: fixed;
  z-index: 2;
  top: 1%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: auto;
  background-color: var(--pure-white);
  border: 1px none;
  border-radius: 40px;
  box-shadow: 0 0 20px var(--pure-white);
}

h1 {
  font-size: 1.5rem;
  margin-left: 15%;;
  font-family: Silkscreen, sans-serif;
}

label {
  color: var(--pure-white);
}

#reference {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  margin-right: 5%;
}

#reference > span {
  margin: 10px;
}

/* cash register */

#input-container,
#connect-div,
#cash-register-drawer-container {
  background-color: var(--metallic-dark-grey);
  border: 5px groove var(--metallic-silver);
}

#input-container,
#cash-register-drawer-container {
  box-shadow: 5px 10px 10px var(--pure-white);
  border-radius: 20px 20px 5px 5px;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--pure-white);
  
  padding: 20px;
  margin-bottom: 0px;
  position: relative;
  top: 5px;

}

#input-label {
  border: 5px groove var(--pure-black);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
}

#cash {
  width: 60%;
  margin: 20px;
  outline: none;
  border-radius: 5px;
}

#purchase-btn {
  font-weight: 600;
  background-color: var(--metallic-silver);
  color: var(--metallic-black);
  transition: 0.3s ease-out;
}

#purchase-btn:hover {
  cursor: pointer;
  color: var(--pure-white);
  background-color: var(--pure-black);
  transition: 0.3s ease-in;
}

#connect-div {
  width: 30px;
  height: 60px;
  border: 5px groove var(--metallic-silver);
  border-top-style: none;
  border-bottom-style: none;
  border-radius: -20px !important;
  opacity: 1;
  z-index: 2;
}

#cash-register-drawer-container {
  min-width: 400px;
  min-height: 300px;
  
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  bottom: 5px;
}

#drawer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drawer-container > label {
  position: relative;
  left: 10px;
  margin-bottom: 10px;
}

#cash-register-drawer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-left: 20px;
  border: 2px groove var(--metallic-silver);
  color: var(--pure-white);
}

#cash-register-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-right: 20px;
}

#one-to-three, 
#four-to-six, 
#seven-to-nine {
  display: flex;
  flex-direction: row;
  margin: 2px;
} 

.keyboard-number {
  background-color: var(--metallic-silver);
  border: 5px groove var(--metallic-silver);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 2px;
  color: black;
  user-select: none;
}

#change-due {
  display: block;
}

.hidden {
  display: none;
}

.change {
  font-size: 0.8rem;
  margin: 3px;
}

/* footer area */

