* {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

:root {
  --pure-white: #ffffff;
  --pure-black: #000000;
  --light-rusty-copper:  	#7fe7ce;
  --dark-rusty-copper: #71d4cc;
  --metallic-black: #131618;
  --metallic-dark-grey: #191f22;
  --metallic-silver: #aaa9ad;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  margin: 0;

  background-color: var(--light-rusty-copper);

  overflow: auto;
}

header {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 1%;
}

main {
  border: 1px solid red;
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

#app-title-container {
  text-align: center;
  max-width: 200px;
  border: 10px groove var(--metallic-silver);
  background-color: var(--dark-rusty-copper);
}

#div-line {
  border: 1px solid var(--pure-black);
  background-color: var(--pure-black);
}

#app-description {
  font-size: 16px;
  padding: 10px;
}

footer {
  background-color: var(--pure-white);
  border: 1px none black;
  border-radius: 40px;
  box-shadow: 0 0 20px var(--pure-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  position: fixed;
  bottom: 2%;
  right: 5%;
  left: 5%;
}

footer > p > span {
  color: var(--dark-rusty-copper);
  font-family: Silkscreen, sans-serif;
  font-size: 1.3rem;
}

footer > p {
  margin: 0;
  position: relative;
  right: 70px;
}

label {
  font-size: 20px;
}

/* reference table */

#reference-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.reference-container {
  display: flex;
  flex-direction: row;
  border: 10px groove var(--metallic-silver);
  margin-top: 20px;
  align-items: flex-start;
}

.currency-unit, .currency-unit-amount {
  margin: 0;
  text-align: center;
  border: 1px solid var(--pure-black);
}

.reference-title {
  font-family: monospace;
  font-size: 20px;
  padding: 0 20px;
}

.currency, .amount {
  border: 1px solid var(--pure-black);
  border-left-style: none;
  border-right-style: none;
  padding: 5px 0;
  background-color: var(--dark-rusty-copper);
}

/* cash register */
#cash-register-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-area {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--pure-black);
  color: var(--pure-white);
  border: 5px groove var(--metallic-silver);
  border-radius: 10px;
  
  padding: 20px;
  margin-bottom: 0px;
  position: relative;
  top: 5px;
}

#input-label {
  border: 5px groove var(--pure-black);
  font-size: 16px;
  padding: 10px;
}

#cash {
  width: 60%;
  margin: 20px;
}

#purchase-btn {
  width: 30%;
  padding: 5px;
  font-size: 16px;
  font-weight: normal;
  background-color: var(--metallic-silver);
  color: var(--metallic-black);
  border: 5px groove var(--metallic-silver);
}

#connect-div {
  width: 30px;
  height: 60px;
  background-color: var(--metallic-black);
  border: 5px groove var(--metallic-silver);
  border-top-style: none;
  border-bottom-style: none;
  z-index: 1000;
}

#cash-register-drawer-container {
  width: 500px;
  height: 400px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  bottom: 5px;
  border: 5px groove var(--metallic-silver);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--pure-black);
}

#cash-register-drawer {
  width: 60%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 2px groove var(--metallic-silver);
  color: var(--pure-white);
}

#change-label {
  position: absolute;
  top: 10px;
}

#cash-register-keyboard {
  background-color: var(--metallic-silver);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-right: 20px;
}

#one-to-three, #four-to-six, #seven-to-nine {
  display: flex;
  flex-direction: row;
  margin: 2px;
} 

.keyboard-number {
  background-color: var(--dark-rusty-copper);
  border: 5px groove var(--metallic-silver);
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 2px;
  color: black;
}

#change-due {
  display: block;
}

.hidden {
  display: none;
}

.change {
  margin: 3px;
}

/* footer area */

