* {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: var(--pitch-black);
}

:root {
  --creamy-yellow: #fffccf;
  --leafy-green: #9dfca3;
  --pokedex-red: #cc0000;
  --pichachu-yellow: #ffde00;
  --pitch-black: #000000;
  --pure-white: #ffffff;
}

body {
  background-color: var(--pichachu-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: var(--pure-white);
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 20px var(--pure-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 1%;
  right: 5%;
  left: 5%;
  z-index: 1;
}

header #title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 5%;
}

#app-title {
  font-size: 1.5rem;
  color: var(--pokedex-red);
  margin: 0;
}

#app-description {
  font-weight: 600;
  margin: 2px;
}

#search-container {
  margin-right: 1%;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: 5px ridge var(--pure-white);
  background-color: var(--leafy-green) !important;
}

button:hover {
  cursor: pointer;
  background-color: var(--leafy-green) !important;
  color: var(--pokedex-red);
}

#search-input,
#search-button {
  border: 1px solid var(--pitch-black);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 6px var(--pure-white);
  margin: 3px;
  padding: 2px;
  font-weight: 600;
  outline: 2px ridge var(--pure-white);
  
  background-color: var(--pichachu-yellow);
}

#search-input {
  max-width: 150px;
  text-align: center;
}

#search-button {
  max-width: 90px;
  font-size: 0.9rem;
  text-align: center;
}

.wrapper {
  margin: 100px 0 100px 0;
  max-width: fit-content;
  min-height: fit-content;
  display: flex;
  grid-template-rows:  1fr 1fr;
}

#pokemon-general-info-container {
  border: 8px ridge var(--pokedex-red);
  border-radius: 15px;
  box-shadow: 10px 10px 15px var(--pitch-black);
  box-sizing: border-box;
  background-color: var(--pokedex-red);

  padding: 10px;
}

#pokemon-stats-container {
  background-color: var(--pokedex-red);
  border: 8px ridge var(--pokedex-red);
  border-radius: 15px;
  box-shadow: 10px 10px 15px var(--pitch-black);
  box-sizing: border-box;

  padding: 10px;
}

#pokemon-name-id-container,
#pokemon-size-container,
#pokemon-types-container,
#pokemon-sprite-container {
  background-color: var(--pitch-black);
  padding: 5px;
  margin: 0 10px;
  border: 3px groove var(--pure-white);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--pitch-black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  flex-direction: row;
  align-items: flex-start;
}

#pokemon-sprite-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  min-height: 130px;
  margin-top: 10px;
}

#sprite,
#shiny-sprite {
  object-fit: cover;
  margin: 2px;
  width: 100%;
}


label,
th {
  color: var(--pure-white);
}

span {
  color: var(--creamy-yellow);
}

table {
  border-collapse: collapse;
  overflow: auto;
  margin: 10px 20px;
}

caption {
  padding: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--pokedex-red);
}

th, 
td {
  text-align: center;
  background-color: var(--pitch-black);
  border: 3px groove var(--pure-white);
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--pitch-black);
}

caption,
td {
  color: var(--creamy-yellow);
  font-weight: 600;
}



footer {
  background-color: var(--pure-white);
  border: 1px none black;
  border-radius: 40px;
  box-shadow: 0 0 20px var(--pure-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  position: fixed;
  bottom: 2%;
  right: 5%;
  left: 5%;
}

footer > p > span {
  color: var(--pokedex-red);
  font-family: Silkscreen, sans-serif;
  font-size: 1.3rem;
}

footer > p {
  margin: 0;
  position: relative;
  right: 70px;
}
