* {
  font-size: 16px;
  font-family: noto-sans;
}

@font-face {
  font-family: noto-sans;
  src: url(../fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}

:root {
  --creamy-yellow: #fffccf;
  --nostalgic-dark-blue: #b9d2f1;
  --nostalgic-light-blue: #d1f7f0;
  --leafy-green: #9dfca3;
  --pokedex-red: #cc0000;
  --pichachu-yellow: #ffde00;
  --mew-pink: #f8e8f8;
  --steel-dark-grey: #787890;
  --pitch-black: #000000;
  --pure-white: #ffffff;
}

