* {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: var(--pitch-black);
}

:root {
  --creamy-yellow: #fffccf;
  --leafy-green: #9dfca3;
  --pokedex-red: #cc0000;
  --pichachu-yellow: #ffde00;
  --pitch-black: #000000;
  --pure-white: #ffffff;
}

body {
  background-color: var(--pichachu-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  border: 8px ridge var(--pokedex-red);
  border-radius: 15px;
  box-shadow: 10px 10px 15px var(--pitch-black);
  background-color: var(--pokedex-red);
  color: var(--pure-white);
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#app-title {
  font-size: 1.5rem;
  color: var(--creamy-yellow);
  align-self: center;
  margin: -10px 0 20px 0;
}

#search-input-label-button-container {
  background-color: var(--pitch-black);
  padding: 10px;
  margin-top: 5px;
  border: 3px groove var(--pure-white);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--pitch-black);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-input-label {
  font-size: 1rem;
  color: var(--pure-white);
  margin-bottom: 10px;
}

#search-container {
  padding: 10px;
}

input:focus {
  outline: 5px ridge var(--pure-white);
  background-color: var(--leafy-green) !important;
}

button:hover {
  cursor: pointer;
  background-color: var(--leafy-green) !important;
  color: var(--pokedex-red);
}

#search-input,
#search-button {
  border: 1px solid var(--pitch-black);
  border-radius: 10px;
  box-shadow: 0 0 6px var(--pure-white);
  padding: 5px;
  margin: 3px;
  font-weight: 600;
  outline: 2px ridge var(--pure-white);
  
  background-color: var(--pichachu-yellow);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  min-height: 40%;
}

#pokemon-general-info-container {
  border: 8px ridge var(--pokedex-red);
  border-radius: 15px;
  box-shadow: 10px 10px 15px var(--pitch-black);
  background-color: var(--pokedex-red);
  padding: 10px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#pokemon-name-id-container,
#pokemon-size-container,
#pokemon-types-container,
#pokemon-sprite-container {
  background-color: var(--pitch-black);
  padding: 5px;
  margin: 0px;
  border: 3px groove var(--pure-white);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--pitch-black);
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  
  width: 90%;
  height: 100%;
}

#pokemon-sprite-container {
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 150px;
  margin-top: 10px;
}

#sprite,
#shiny-sprite {
  object-fit: cover;
}

.basic-info-container {
  min-width: 180px;
  display: flex;
  flex-direction: row;
}

#pokemon-stats-container {
  background-color: var(--pokedex-red);
  border: 8px ridge var(--pokedex-red);
  border-radius: 15px;
  box-shadow: 10px 10px 15px var(--pitch-black);
  display: flexbox;
  
}

label {
  color: var(--pure-white);
}
span {
  color: var(--creamy-yellow);
}

table {
  border-collapse: collapse;
  overflow: auto;
  margin: 10px 20px;
}

caption {
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--pokedex-red);
}

tr {
  display: flexbox;
  flex-direction: row;
}

th, 
td {
  text-align: center;
  background-color: var(--pitch-black);
  width: 140;
  height: auto;
  padding: 5px 55px;
  border: 3px groove var(--pure-white);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--pitch-black);
}

caption,
td {
  color: var(--creamy-yellow);
  font-weight: 600;
}

th {
  color: var(--pure-white);
}

footer {
  background-color: var(--pure-white);
  border: 1px none black;
  border-radius: 40px;
  box-shadow: 0 0 20px var(--pure-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  position: fixed;
  bottom: 2%;
  right: 5%;
  left: 5%;
}
footer > p > span {
  color: var(--pokedex-red);
  font-family: Silkscreen, sans-serif;
  font-size: 1.3rem;
}

footer > p {
  margin: 0;
  position: relative;
  right: 70px;
}