:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  background-color: #646cff !important;
  margin: 5px;
  color: hsl(0, 0%, 80%) !important;
  transition: ease 0.5s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff0000c5;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Header Component */
#head-title {
  text-align: center;
}
.nav-bar-list {
  background-color: #ff0000c5;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav-bar-list li a {
  color: white;
}

/* Quote Component */
.quote-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  border: 3px solid;
}
/* Card component */
.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  min-width: 250px;
  max-width: 500px;
  display: inline-block;
  
}
.card .profile-picture {
  max-width: 100%;
  height: auto;
  max-height: 150px;
  border-radius: 50%;
}
.card .author-name {
  font-family: Arial, sans-serif;
  font-weight: 600;
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.card .author-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

.quote-wrapper {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: start;
  max-width: 280px;
  display: inline-block;
}

/* !profile picture inside card component */


/* author card */
.author-card {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  padding: 10px;
}
.author-card p {
  margin: 0;
}